*{
	margin:0;
	padding:0;
	font-family: "Montserrat",sans-serif;
}

body{
	/*dos puntos porq la carpeta no esta a la misma alturany debe devolverse*/
	height:auto;/*para que se ajuste automaticamente nuestro fondo en la medida q se rellene*/
	width: 100%;/*idem*/
	/*background-size:contain;*//*es para que nuestro contenido quede centrado al navegador*/
	/*background-repeat:none;*/
	/*position: absolute;*/
}
header{
	background-size:cover;*//*es para que nuestro contenido quede centrado al navegador*/
	background-repeat:no-repeat;
	background-image: url(../assets/images/hero.gif);

}
/*INICIO HEADER-MENU*/
.logotipo{ /*contenedor imagen*/
	width:5%;
	height: auto;
	margin-top:0; /*para que no haga margen*/
	margin-left:2%;
}

.logo{/*imagen logo*/
	width:100%;
	height:auto;
	float:left;
	display:block;/*para que se comporte como bloque*/
	margin-top: 35px;
	padding-left: 40px;
}
header ul{ /*es el contenedor de li*/
	list-style: none;
	overflow: hidden; /*para que no se colapse luego de usar float*/
	padding: 20px;
	margin-left: 850px;
}
.login{
	background-color: #25123D;
    border: 1px solid#ccc;
    border-radius: 15%;
    width: 66px;
    height: 35px;
    /* box-shadow: 2px 2px 1px #999; */
    color: white;
    margin-top: -11px;
}
header li{/*para que solo lo q esta en el interior de nuestro li flote a la derecha*/
	float: left;
	margin-top: 20px;
}


nav ul li a{/*cambiando links colores,posicion y sacando viñeta,poniendo tbn otra letra*/
	color:#fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}

 nav ul li a:hover:not(.active){ /*cuando pasas el mouse muestra otro color*/
	background-color: #FF00BF;
}

.a:active{
	background-color:#fff;
}

/*FIN HEADER-MENU*/
/*INICIO HEADER CUADRO PHONE-NUMBER*/
.contenedor_1{
	width:471px;
	height:257px;
	background-color: #fff;
	margin-left:815px ;
	padding-bottom:280px;
	text-align:center;
	text-decoration: none;
}
h1{
	color: #352384;
	padding: 91px 150px 10px 0px;
}
h2{
	color: #352384;
	font-size: 15px;
	font-weight: 500;
	margin-right: 134px;
}
input{
	width: 83%;
	margin-right: -34px;
	margin-bottom: 30px;
	margin-top: 45px;
	border-bottom-color:#352384;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	font-size: 17px;
}
.becomedrive{/* boton drive*/
	background-color:#FF00BF;
	border:hidden;
	border-radius:10%;
    width:117px;
    height:40px;
    color:#fff;
    margin-bottom: 40px;
    display: inline-block;
    margin-left: 57px;
    float: left;
    box-shadow: 2px 2px 5px #999;

}
.signup{
	margin-top:12px;
	color:#728099;
	margin-right: 144px;
	float: right;

}
.already{
	margin-top: 110px;
}
header p{
	font-size:10px;
	margin-bottom:12px;
	color: #728099;
}
p a{
	text-decoration: none;
}
form,p,span{
	color: #728099;
	font-size:10%;
	font-weight:;
}
/*INICIO SECTION PHONE-IMAGE*/
.phone-section{
background-image: -webkit-linear-gradient(#76278F, #2B1E66);
background-image: -o-linear-gradient(#76278F, #2B1E66);
background-image: linear-gradient(#76278F, #2B1E66);
width: 100%;
overflow:hidden;

}
.both-container{
	widht:80%;
	overflow: hidden;
	/*outline:1px solid blue;*/
}
.container-text{
	display:inline-block;
	float: right;
	/*outline: 2px solid green;*/
	margin-right:700px;
	margin-top:90px;
}

.contenedor-imagen{
	width: 30%;
	height:auto;
	/*outline: 2px solid red;*/
	margin-left: 757px;
	display: inline-block;
	float:left;
	clear: both;
	margin-top: -424px;
}
.phone{
	width:100%
}
h3{
	color:white;
	font-size: 22px;
	font-weight:500;

}
section p{
	color: white;
	font-size: 12px
}

/*FIN SECTION PHONE-IMAGE*/
/*SECTION VIDEO*/
h6{
	font-size:65%%;
}
h4{
	font-size: 130%;
}
.video{
	clear:both;
	overflow: hidden;
	/*width: 100%
	height:auto;*/
	/*outline: 2px solid blue;*/
}
.parrafo-video{
	width:70%;
	height: auto;
	text-align:left;
	margin-left:85px;

}
.video-1{
	float:right;
	width: 70%;
	height: auto;
	/*outline: 1px solid red;*/
	/*clear: both;*/
}
.data-text{
	float:left;
	width:30%;
	height: auto;
	color: black;
	/*outline: 2px solid pink;*/
	clear: both;
	text-align:center;
}
.inside-text{
	/*outline: 4px solid black;*/
}
.watch{
	text-align: left;
    margin-left: 90px;
    padding-top:40px;
}
.video-2{
	float: left;
	width: 70%;
	height: auto;
	/*outline: 1px solid red;*/
}

.data-text2{
	width:30%;
	height: auto;
	float: right;
	/*outline: 3px solid pink;*/
	text-align:center;
}
.watch2{
	margin-right: 169px;
	padding-top:40px;
}
.june{
	margin-right: 157px;
}
.inside-text2{

}
.video-3{
	float:right;
	width: 70%;
	height: auto;
	/*outline: 1px solid red;*/
}
.data-text3{
	width:30%;
	height: auto;
	float: left;
	/*outline: 3px solid pink;*/
	text-align:center;
}
.inside-text3{

}
.watch3{
	padding-top: 40px;
	margin-right:170px;
}
.video p{
	color:black;
	/*outline: 1px solid green;*/
}
/*FIN SECTION VIDEO*/
/*INICIO FOOTER*/
.footer{
    width: 100%;
    height: 525px;
    color: white;
    background-color: #333447 ;
    position: absolute;
    top: 2530px;
}
.lista1{
    color: white;
    position: absolute;
    padding: 50px 100px 0px 150px;
    font-size: 120%;
    line-height: 40px;
}
.lista2{
    color: white;
    padding: 50px 100px 0px 150px;
    position: absolute;
    left:300px;
    font-size: 120%;
    line-height: 40px;
}
.lista3{
    color: white;
    padding: 50px 100px 0px 150px;
    font-size: 110%;
    position: absolute;
    left:600px;
    font-size: 120%;
    line-height: 40px;
}
.botons{
    display: block;
    padding: 15px;
    width: 100px;
    height: 40px;
    position: relative;
    left: 80%;
    top: 80px;
}
.icons{
    color: white;
    display: inline-block;
    margin-right: 10%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 30%;
    position: relative;
    left: 30%;
    top: 130px;
}
hr{
    width: 50%;
    position: absolute;
    left: 20%; 
    top: 78%;
}
h5{
    color: white;
    position: absolute;
    top: 90%;
    left: 40%;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: #FF00BF ;
}
/*FIN FOOTER*/